/lisp/SETTING-REPOSITORY.data
/lisp/USER-REPOSITORY.data
*~
*.bak
*.class
.classpath
*#
.#*
.CVS
*.db
derby.log
dist
*.ear
*.eprj
*.fasl
*.iml
*.ipr
*.iws
*.jar
*.log
*.off
*.old
*.pyc
*.releaseBackup
*.rtf#
*.ser
*.sqlite3
*.sublime-workspace
*.swp
*tar.gz
*.war
.classpath
.CVS
.DS_Store
.hg*
.idea
.manager
.metadata
.project
.settings
.svn
build
mysite
desktop.ini
dist
lib_managed
lift_example
null
project/boot
project/build/target
rebel.xml
release.properties
runner
src_managed
target/
test-output
tmp/
tmp*
temp/
*.sqlite3