{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-mixed-spaces-and-tabs": "off"
  }
}
