extends layout

block content
    .container
        div.page-header
            h1#registerPageHeader Register Page

        form(role='form', action="/user/register",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            .form-group
                input.form-control(type='password', name="confirmPassword", placeholder='Confirm Password')
            button.btn.btn-default#registerButton(type='submit') Register Button
            a(href='/')
                button.btn.btn-primary(type="button") Cancel
