<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Savage Worlds</a>
    </div>
    <div class="navbar-collapse collapse">
      <div  class="navbar-right">
	{{#if session.isAuthenticated}}
          <a {{ action 'invalidateSession' }} class="btn btn-danger navbar-btn navbar-right">Logout</a>
        {{else}}
	  {{#link-to 'login' class="btn btn-success navbar-btn navbar-right"}}Login{{/link-to}}
	  {{#link-to 'signup' class="btn btn-default navbar-btn navbar-right"}}Sign up{{/link-to}}
	{{/if}}
	</div>
      </div>
    </div>
  </nav>
  {{outlet}}
</div>
