<div class="container">
  <div class="page-header">
    <h1>Identify yourself Savage!</h1>
  </div>
  <div class="row>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
	<div class="panel-body">
	  <form {{action authenticate on='submit'}}>
	    <div class="form-group">
	      <label for="identification">Login</label>
	      {{input id='identification' class="form-control" placeholder='Enter Login' value=identification}}
	    </div>
	    <div class="form-group">
	      <label for="password">Password</label>
	      {{input id='password' class="form-control" placeholder='Enter Password' type='password' value=password}}
	    </div>
	    <button class="btn btn-sm btn-primary btn-block" role="button" type="submit">Login</button>
	  </form>

	  {{#if errorMessage}}
	    <div class="alert alert-danger">
	      <p>
		<strong>Login failed:</strong> <code>{{errorMessage}}</code>
	      </p>
	    </div>
	  {{/if}}
	</div>
      </div>
    </div>
  </div>
</div>
