<div class="container">
  <div class="page-header">
    <h1>Plot Points</h1>
  </div>
  
  {{#link-to "plot-point" class="btn btn-default"}}Add{{/link-to}}
  <table class="table table-stripes table-responsive">
    <thead>
      <tr>
	<th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each model}}
	<tr>
	  <td>{{name}}</td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>
