<h1>Plot Points</h1>
<table class="table table-stripes table-responsive">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each model}}
      <tr>
	<td>{{name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
