<div class="form-horizontal">
    <h3>Create a new EdgeDescription</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/EdgeDescriptions/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for EdgeDescriptions</h3>
    <form id="EdgeDescriptionSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the EdgeDescription Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="minimumRank" class="col-sm-2 control-label">Minimum Rank</label>
        <div class="col-sm-10">
            <select id="minimumRank" name="minimumRank" class="form-control" ng-model="search.minimumRank" ng-options="m as m for m in minimumRankList">
                <option value="">Choose a Minimum Rank</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="requiredType" class="col-sm-2 control-label">Required Type</label>
        <div class="col-sm-10">
            <select id="requiredType" name="requiredType" class="form-control" ng-model="search.requiredType" ng-options="r as r for r in requiredTypeList">
                <option value="">Choose a Required Type</option>
            </select>
        </div>
    </div>



    <div class="form-group">
        <label for="edgeType" class="col-sm-2 control-label">Edge Type</label>
        <div class="col-sm-10">
            <select id="edgeType" name="edgeType" class="form-control" ng-model="search.edgeType" ng-options="e as e.name for e in edgeTypeList">
                <option value="">Choose a Edge Type</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Minimum Rank</th>
                    <th>Required Type</th>
                    <th>Edge Type</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/EdgeDescriptions/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/EdgeDescriptions/edit/{{result.id}}">{{result.minimumRank}}</a></td>
                    <td><a href="#/EdgeDescriptions/edit/{{result.id}}">{{result.requiredType}}</a></td>
                        <td><a href="#/EdgeDescriptions/edit/{{result.id}}">{{result.edgeType.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>