<header ng-switch on="$location.path().indexOf('/Powers/new') > -1">
    <h3 ng-switch-when="true">Create a new Power</h3>
    <h3 ng-switch-when="false">View or edit Power</h3>
</header>
<form id="PowerForm" name="PowerForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
        <div class="form-group" ng-class="{'has-error': PowerForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" class="form-control" ng-model="power.name" placeholder="Enter the Power Name"></input>
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': PowerForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" class="form-control" ng-model="power.description" placeholder="Enter the Power Description"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PowerForm.rank.$invalid}">
        <label for="rank" class="col-sm-2 control-label">Rank</label>
        <div id="rankControls" class="col-sm-10">
        <select id="rank" name="rank" class="form-control" ng-model="power.rank" ng-options="r for r in rankList"  >
            <option value="">Choose a Rank</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PowerForm.powerPoints.$invalid}">
        <label for="powerPoints" class="col-sm-2 control-label">Power Points</label>
        <div id="powerPointsControls" class="col-sm-10">
            <input id="powerPoints" name="powerPoints" type="number" class="form-control" ng-model="power.powerPoints" placeholder="Enter the Power Power Points"></input>
            <span class="help-block error" ng-show="PowerForm.powerPoints.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PowerForm.range.$invalid}">
        <label for="range" class="col-sm-2 control-label">Range</label>
        <div id="rangeControls" class="col-sm-10">
            <input id="range" name="range" type="text" class="form-control" ng-model="power.range" placeholder="Enter the Power Range"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PowerForm.duration.$invalid}">
        <label for="duration" class="col-sm-2 control-label">Duration</label>
        <div id="durationControls" class="col-sm-10">
            <input id="duration" name="duration" type="text" class="form-control" ng-model="power.duration" placeholder="Enter the Power Duration"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PowerForm.trappings.$invalid}">
        <label for="trappings" class="col-sm-2 control-label">Trappings</label>
        <div id="trappingsControls" class="col-sm-10">
            <select id="trappings" name="trappings" multiple class="form-control" ng-model="trappingsSelection" ng-options="t.text for t in trappingsSelectionList">
                <option value="">Choose a Trappings</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePower" name="savePower" class="btn btn-primary" ng-disabled="isClean() || PowerForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePower" name="deletePower" class="btn btn-danger" ng-show="power.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>