<div class="container">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  
  {{#link-to "settings.create" class="btn btn-default"}}Add{{/link-to}}
  <table class="table table-stripes table-responsive">
    <thead>
      <tr>
	<th>Name</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {{#each setting in controller itemController="setting" }}
	<tr>
	  <td>{{setting.name}}</td>
	  <td>
	    {{#link-to "settings.read" setting class="btn btn-default btn-xs"}}
	      <span class="glyphicon glyphicon-eye-open"></span>
	    {{/link-to}}
	    {{#link-to "settings.update" setting class="btn btn-default btn-xs"}}
	      <span class="glyphicon glyphicon-pencil"></span>
	    {{/link-to}}
	    <button {{action "delete" setting}}class="btn btn-danger btn-xs">
	      <span class="glyphicon glyphicon-remove">
	    </button>
	  </td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>
