{{#link-to 'hindrances.add' class="btn btn-default"}}New Hindrance{{/link-to}}	
{{#each hindrance in model}}
	{{render "hindrance.index" hindrance}}
	{{else}}
	<p>There are no hindrances.</p>
{{/each}}
{{outlet}}