<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Savage Worlds</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'index'}}Plot Points{{/link-to}}</li>
			</ul>
			<ul  class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Standards <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>{{#link-to 'standard-archetypes'}}Archetypes{{/link-to}}</li>
						<li>{{#link-to 'standard-beasts'}}Beastiary{{/link-to}}</li>
						<li>{{#link-to 'standard-characters'}}Characters{{/link-to}}</li>	
						<li>{{#link-to 'standard-edges'}}Edges{{/link-to}}</li>
						<li>{{#link-to 'standard-extras'}}Extras{{/link-to}}</li>
						<li>{{#link-to 'standard-gears'}}Gear{{/link-to}}</li>

						<li>{{#link-to 'standard-races'}}Races{{/link-to}}</li>
						<li><a href="#">Skills</a></li>
						<li><a href="#">Hindrances</a></li>

						<li><a href="#">Places</a></li>	
						
						<li><a href="#">Powers</a></li>		
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		{{#each flash in flashes.queue}}
			{{{flash-message flash=flash}}}
		{{/each}}
	</div>
	{{outlet}}
</div>