<div class="col-sm-1">
	<button {{action "decrement" model attributeName}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
</div>
<div class="col-sm-1">
	d{{attribute}}
</div>
<div class="col-sm-1">
	<button {{action "increment" model attributeName}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>