<div class="col-md-2">
	<button {{action "decrement" model attributeName}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	d{{attribute}}
	<button {{action "increment" model attributeName}} class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>