<div {{bind-attr class="errors:has-error errors:has-feedback"}}>
	<div class="checkbox">
 		 <label>
  			{{input checked=property type='checkbox'}}
    		{{label}}
  		</label>
	</div>
	{{#if errors}}
		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		<span class="help-block">
			{{#each errors.description}}
				{{message}}
			{{/each}}
		</span>
	{{/if}}
</div>
