<header ng-switch on="$location.path().indexOf('/GearDescriptions/new') > -1">
    <h3 ng-switch-when="true">Create a new GearDescription</h3>
    <h3 ng-switch-when="false">View or edit GearDescription</h3>
</header>
<form id="GearDescriptionForm" name="GearDescriptionForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': GearDescriptionForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required class="form-control" ng-model="gearDescription.name" placeholder="Enter the GearDescription Name"></input>
            <span class="help-block error" ng-show="GearDescriptionForm.name.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': GearDescriptionForm.weight.$invalid}">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div id="weightControls" class="col-sm-10">
            <input id="weight" name="weight" type="number" min="0" required class="form-control" ng-model="gearDescription.weight" placeholder="Enter the GearDescription Weight"></input>
            <span class="help-block error" ng-show="GearDescriptionForm.weight.$error.required">required</span> 
            <span class="help-block error" ng-show="GearDescriptionForm.weight.$error.number">not a number</span>
            <span class="help-block error" ng-show="GearDescriptionForm.weight.$error.min">minimum allowed is 0</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': GearDescriptionForm.cost.$invalid}">
        <label for="cost" class="col-sm-2 control-label">Cost</label>
        <div id="costControls" class="col-sm-10">
            <input id="cost" name="cost" type="number" min="0" required class="form-control" ng-model="gearDescription.cost" placeholder="Enter the GearDescription Cost"></input>
            <span class="help-block error" ng-show="GearDescriptionForm.cost.$error.required">required</span> 
            <span class="help-block error" ng-show="GearDescriptionForm.cost.$error.number">not a number</span>
            <span class="help-block error" ng-show="GearDescriptionForm.cost.$error.min">minimum allowed is 0</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': GearDescriptionForm.notes.$invalid}">
        <label for="notes" class="col-sm-2 control-label">Notes</label>
        <div id="notesControls" class="col-sm-10">
            <input id="notes" name="notes" type="text" class="form-control" ng-model="gearDescription.notes" placeholder="Enter the GearDescription Notes"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': GearDescriptionForm.era.$invalid}">
        <label for="era" class="col-sm-2 control-label">Era</label>
        <div id="eraControls" class="col-sm-10">
        <select id="era" name="era" class="form-control" ng-model="gearDescription.era" ng-options="e for e in eraList"  >
            <option value="">Choose a Era</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveGearDescription" name="saveGearDescription" class="btn btn-primary" ng-disabled="isClean() || GearDescriptionForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteGearDescription" name="deleteGearDescription" class="btn btn-danger" ng-show="gearDescription.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>